flow.json
[
    {
        "id": "02276a343a8cbb37",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "c5c645aef2ad93d7",
        "type": "tab",
        "label": "Flow 3",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "8733217c461c6a2d",
        "type": "tab",
        "label": "Flow 4",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "a8447aa0d214ca19",
        "type": "tab",
        "label": "Flow 5",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "82bec9bd5cd94e20",
        "type": "tab",
        "label": "Flow 6",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "f5a194db59c6bc46",
        "type": "tab",
        "label": "Flow 7",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "444302605f42437b",
        "type": "inject",
        "z": "02276a343a8cbb37",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 240,
        "y": 200,
        "wires": [
            [
                "5edf7b3d12c19d6b"
            ]
        ]
    },
    {
        "id": "5edf7b3d12c19d6b",
        "type": "debug",
        "z": "02276a343a8cbb37",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 600,
        "y": 240,
        "wires": []
    },
    {
        "id": "f71de5a581e1a0a3",
        "type": "inject",
        "z": "c5c645aef2ad93d7",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 200,
        "wires": [
            [
                "99a37ed7b0c02bb4"
            ]
        ]
    },
    {
        "id": "99a37ed7b0c02bb4",
        "type": "debug",
        "z": "c5c645aef2ad93d7",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 400,
        "y": 220,
        "wires": []
    },
    {
        "id": "78ef5582353a5253",
        "type": "inject",
        "z": "8733217c461c6a2d",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 60,
        "wires": [
            [
                "1b84694ad46ad268"
            ]
        ]
    },
    {
        "id": "1b84694ad46ad268",
        "type": "debug",
        "z": "8733217c461c6a2d",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 460,
        "y": 80,
        "wires": []
    },
    {
        "id": "269b042387a25d55",
        "type": "ui_switch",
        "z": "a8447aa0d214ca19",
        "name": "",
        "label": "switch",
        "tooltip": "",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": true,
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": false,
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 250,
        "y": 220,
        "wires": [
            [
                "2e2db5e4343ac115"
            ]
        ]
    },
    {
        "id": "2e2db5e4343ac115",
        "type": "ui_slider",
        "z": "a8447aa0d214ca19",
        "name": "",
        "label": "slider",
        "tooltip": "",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": 10,
        "step": 1,
        "className": "",
        "x": 390,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "c01075dfe7a456e1",
        "type": "ui_button",
        "z": "82bec9bd5cd94e20",
        "name": "",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "button",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 170,
        "y": 120,
        "wires": [
            [
                "3c8b5f7333b5e004"
            ]
        ]
    },
    {
        "id": "3c8b5f7333b5e004",
        "type": "ui_dropdown",
        "z": "82bec9bd5cd94e20",
        "name": "",
        "label": "",
        "tooltip": "",
        "place": "Select option",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "value": "",
                "label": ""
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 460,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "363c17daabf8475b",
        "type": "rpi-gpio in",
        "z": "f5a194db59c6bc46",
        "name": "",
        "pin": "",
        "intype": "tri",
        "debounce": "25",
        "read": false,
        "bcm": true,
        "x": 170,
        "y": 60,
        "wires": [
            [
                "c58811ea088d0492"
            ]
        ]
    },
    {
        "id": "c58811ea088d0492",
        "type": "rpi-gpio out",
        "z": "f5a194db59c6bc46",
        "name": "",
        "pin": "",
        "set": "",
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 470,
        "y": 80,
        "wires": []
    }
]